.centrarbtnint{
  padding-top: 3px !important;
}

.centrarbtnint2{
  padding-top: 3px !important;
  margin-left: 3px !important;
}

.buttonMod:hover {
  background-color: #f44336 !important;
  color: white !important;
}
