<div class="form-group">
    <label class="control-label">{{titulo}}<span *ngIf="xrequired == 'true'">*</span>&nbsp;</label>
    <span class="fa fa-question-circle" tooltip={{xtooltip}}></span>

    <input #input type="{{xtype}}" [ngClass]="{validInput : !xformErrors && xrequired == 'true' && isTouch, invalidInput: (xformErrors || !isTouch) && xdisabled == 'false' && xrequired == 'true'}"
        class="form-control" placeholder="{{xplaceholder}}" (keyup)="changeInput(input.value)" (change)="changeInput(input.value)"
        (click)="changeInput(input.value);" value={{inputVal}}  [disabled]="xdisabled == 'true'">

    <div *ngIf="xformErrors && isTouch" class='error_style'>
        <div *ngIf="xformErrors !='_';then content else other_content"></div>
        <ng-template #content>* {{ xformErrors }}</ng-template>
        <ng-template #other_content>* {{ mPattern }}</ng-template>
    </div>
</div>