.dashboard{

}

.card_hv{
  background-color: #505050 !important;
  height: 13em;
  margin: 15px;
  color: white;
  border-radius: 5px;
}

.card_hv:hover{
  transform: scale(1.1);
}


.card_hv_salir{
  background-color: rgb(185, 0, 0) !important;
  height: 13em;
  margin: 15px;
  color: white;
  border-radius: 5px;

}

.card_hv_salir:hover{
  transform: scale(1.1);
}


.lbl_name_user{
  margin-left: 20px;
  font-size: 23px;
}

.lbl_name_user span{


}
